<h1>See map</h1>


<table style="border-spacing: 0px;" border="0">
    <% @map.each do |line|%>
        <tr border="0">

        <% line.each do |col| %>
              <%
                 color="red"
                 if col == "129" #eau
                   color = "blue"
                 elsif col == "133" #route
                   color = "red"
                 elsif col =="132" #herbe
                   color = "green"
                 elsif col =="137" #urbain
                   color = "grey"
                 end
              %>
            <td  border="0" height="2px" width="2px" bgcolor="<%=color%>"><%= #col
            %></td>
        <%end%>
        </tr>
    <%end%>
</table>


<table style="border-spacing: 0px;" border="0">
  <% @poisMap.each do |line|%>
      <tr border="0">

        <% line.each do |col| %>
            <%
               color="red"
               if col == "0" #eau
                 color = "blue"
               elsif col == "1" #route
                 color = "red"
               elsif col =="2" #herbe
                 color = "green"
               elsif col =="3" #urbain
                 color = "grey"
               end
            %>
            <td  border="0" height="10px" width="10px" bgcolor=""><%= col  %></td>
        <%end%>
      </tr>
  <%end%>
</table>

<%@pois.each do |poi|%>
<%= poi.to_json%>
<%end%>

